@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(71, 71, 233);
}
header{
    text-align: center;
    color: white;
}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    border-radius: 20px;
    padding: 20px;
   
    
}

select#flista{
    width: 150px;
}

footer{
    text-align: center;
    color: white;
}